
@import "../partials/vars";
@import "../partials/normalize";
@import "../partials/reset";
@import "../partials/nav";
@import "../partials/social-icons";
@import "../partials/github-syntax-highlighting";

@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');



html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 95%;

  @media screen and (min-width: $medium) {
    font-size: 100%;
  }

  @media screen and (min-width: $large) {
    font-size: 115%;
  }
}

body.nav--active {
  overflow: hidden;
}

main {
  padding: 3rem 1.5rem 1rem;

  @media screen and (min-width: $medium) {
    padding-left: calc(1.5rem + #{$navWidth});
  }

  @media screen and (max-width: $medium - 1) {
    padding-top: calc(3rem + #{$burgerContainerHeight});
  }
}


/* Include Noto Sans from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

/* Apply Noto Sans to the whole document */
main {
  font-family: 'Cardo', Alegreya, serif;
  margin-left: auto;
  margin-right: auto;
  max-width: 960px; /* Or any other width you prefer */
}

/* Right-align the header with Flexbox */
header {
  display: flex;
  justify-content: flex-end; /* Aligns content to the right */
  line-height: 1; /* Reduces the space between lines */
}

.header-column {
  flex: 1; /* Each column takes equal space */
  text-align: right; /* Text align right in each column */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Vertically justify content */
}

.flex-container {
  display: flex;
  justify-content: space-between; /* Adjusts the space between columns */
  align-items: flex-start; /* Aligns items vertically */
  flex-wrap: wrap; /* Enables the columns to wrap on smaller screens */
}

.column {
  flex: 1; /* Makes columns flexible and of equal width */
  padding: 10px; /* Adds some spacing inside each column */
  box-sizing: border-box; /* Ensures padding doesn't affect the overall width */
  min-width: 200px; /* Minimum width of a column */
}


/* Style for a list with hanging indent */
ul {
  padding-left: 20px;
  list-style-type: none; /* Remove default list item markers */
}

ul li {
  text-indent: -20px;
  margin-left: 20px;
}

.two-column-list {
  column-count: 2; /* Creates two columns */
}

/* New Style for a regular list */
.regular-list {
  column-count: 2;
  padding-left: 40px; /* Adjust as needed */
  list-style-type: none; /* Or any other style you prefer */
}

.regular-list li {
  text-indent: 0;
  margin-left: 0;
}

/* fixed width for hyperlinks */
.custom-link {
  font-family: 'Iosevka', Roboto Mono, monospace; /* Example of a fixed-width font */
}

h3 {
  color: #018DE9;
  font-family: 'Iosevka', Roboto Mono, monospace;
  padding-top: 20px;
  padding-bottom: 20px;
}


.centered-text {
  text-align: center; /* Centers text horizontally */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  color: $grey;
}