@import "../main";

.text-container {
  max-width: 70rem; /* or any narrow width */
  margin: 0 auto; /* centering the text */
  padding: 0 15px; /* optional padding */
}

.content img {
  width: 100%; /* makes the image responsive */
  height: auto; /* maintain aspect ratio */
  display: block; /* removes default inline spacing */
  margin: 0 auto; /* centering the image */
}


#post__title {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.post__header .tags__list {
    display: none;
    padding-left: 0;
  
    @media screen and (max-width: $medium - 1) {
      display: block;
    }
  
    .tag__item {
      display: inline-block;
      margin-right: 10px;
  
      &:last-child {
        margin-right: 0;
      }
    }
  
    .tag__link {
      font-size: 0.8rem;
    }
  }

.post__title {
margin-top: 0;
font-weight: 500;

a {
    color: $black;
    text-decoration: none;
}
}